<h1>Todo</h1>
<div class="container">
    <div class="alert alert-warning" *ngIf="todoForm.dirty && todoForm.invalid" > Enter valid values</div>
    <div class="alert alert-warning" *ngIf="todoForm.dirty && tgtDate.invalid" > Enter valid Date</div>
    <div class="alert alert-warning" *ngIf="todoForm.dirty && desc.invalid" > Enter valid Description</div>
   
   
<form (ngSubmit) =" !todoForm.invalid && saveTodo()" #todoForm = "ngForm">
    <fieldset class="form-group">
        <label>Description</label>
        <input type="text" [(ngModel)] = "todo.description" class="form-control" name="description" #desc ="ngModel"  required=required minlength="5" />
   </fieldset>
    <fieldset class="form-group">
        <label>Target Date</label>
        <input type="date" 
        [ngModel]="todo.targetDate | date:'yyyy-MM-dd' " 
        (ngModelChange)="todo.targetDate = $event"
        class="form-control" name="targetDate" #tgtDate ="ngModel" required=required />
    </fieldset>
    <button type="submit" class="btn btn-success"> Save</button>
</form>
</div>